<div style="text-align: center; margin-top: 20px">
          <a href="{{URL_FB}}" target="_blank" style="color: transparent">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/alsuper-prod.appspot.com/o/fb.png?alt=media&token=e933ab51-6437-43c1-b0b1-e110cbc0b33f"
              alt=""
            />
          </a>
          <a
            href="{{URL_INSTAGRAM}}"
            target="_blank"
            style="color: transparent"
          >
            <img
              src="https://firebasestorage.googleapis.com/v0/b/alsuper-prod.appspot.com/o/instagram.png?alt=media&token=6613bb5b-df6d-49f9-a0af-a22398c02e15"
              alt=""
              style="margin: 0 10px"
            />
          </a>
          <a href=" {{URL_TWITTER}}" target="_blank" style="color: transparent">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/alsuper-prod.appspot.com/o/twitter.png?alt=media&token=7576123a-8088-4483-ad7c-e13bc49d4c3d"
              alt=""
            />
          </a>
          <a href="{{URL_WHATSAPP}}" target="_blank">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/alsuper-prod.appspot.com/o/whatsapp.png?alt=media&token=5d5f0619-c4d7-4ef9-a6c2-fd30898f2a9d"
              alt=""
              style="margin-left: 10px"
            />
          </a>
        </div>