<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
  </style>
</head>

<body style="font-family: 'Roboto'; margin: 0">
  <div
    style="
      background-color: #f2f2f2;
      margin: 0 auto;
      padding: 2% 0;
      width: 600px;
    "
  >
    <div
      style="
        margin: 0 5%;
        overflow-x: hidden !important;
        background-color: #ffffff;
        background-image: url(https://firebasestorage.googleapis.com/v0/b/alsuper-prod.appspot.com/o/background.png?alt=media&token=af967af9-5b67-4431-a5a8-b333c9516a71);
      "
    >
      <img
        src="https://firebasestorage.googleapis.com/v0/b/alsuper-prod.appspot.com/o/background-header.png?alt=media&token=6639c71b-f981-4bae-bb4f-781517d95753"
        alt="header"
        style="display: block; width: 100%; height: 108px"
      />
      <div style="margin: 5% 15%">
        <h1
          style="
            font-size: 24px;
            color: #3c3c3c;
            margin-bottom: 5px;
            font-family: 'Roboto' Slab;
          "
        >
          Recuperar contraseña
        </h1>
        <p style="font-size: 14px; margin-top: 0; margin-bottom: 31px">
          Solicitud de reestablecer contraseña
        </p>
        <p style="color: #888888; font-size: 14px">
          Hemos recibido una solicitud para reestablecer tu<br />
          contraseña Alsuper, tenga en cuenta que esta acción<br />
          cambiará su contraseña actual.
          <br /><br />
          Para confirmar esta acción utilice el siguiente enlace:
        </p>
      </div>
      <div style="margin: 7% auto; width: 240px; height: 40px">
        <a
          href="{{SITEURL}}"
          target="_blank"
          style="text-decoration: none"
        >
          <button
            style="
              background-color: transparent;
              border: none;
              width: 240px;
              height: 40px;
              border-radius: 6px;
              display: block;
              margin: 1% auto 5%;
              cursor: pointer;
              background-color: #7ec543;
            "
          >
            <p
              style="
                color: white;
                font-size: 16px;
                font-weight: 500;
                margin: 0;
              "
            >
              Restablecer mi contraseña
            </p>
          </button>
        </a>
      </div>
      <div style="background-color: #3c3c3c">
        <div
          style="
            margin: 0 3% 2%;
            padding-top: 3%;
            font-size: 10px;
            border-top: 1px solid #444444;
            text-align: center;
          "
        >
          <a
            style="color: #ffffff; text-decoration: none; margin-right: 15px"
            href="{{URL_TERMS}}"
            target="_blank"
          >
            Términos y condiciones
          </a>
        </div>
        {{>social}}
        <p
          style="
            color: #ffffff;
            text-align: center;
            font-size: 10px;
            padding-bottom: 20px;
            margin-bottom: 0;
          "
        >
          © 2021 Alsuper Todos los Derechos Reservados
        </p>
      </div>
    </div>
  </div>
</body>
